<nav class="navbar navbar-static-top">
    <div class="nav-header">
        <div class="navbar-header">

            <a class="navbar-brand" target="_blank" href="{{nav.path}}./index.html">
                      <span class="dinlineblock width55 mr10"><img class="project-logo"
                                                                   src="{{nav.path}}img/iclient.png"
                                                                   style="visibility: visible;" id="logo"></span>
                <span class="project-title vm" id="title">{{nav.title}}
                     <span style="vertical-align:super; font-size:14px; color:#ffffff; margin-left:5px;">{{nav.version}}</span>
                </span>
            </a>
            <div id="suffix-title"></div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse navbar-custom-menu" id="navbar-collapse">

            <ul class="nav navbar-nav">
                <li class="navbar-menu" id=home-menu">
                    <a target="_blank" href="{{nav.path}}./index.html" class="center" data-i18n="nav.home._name"></a>
                </li>
                <li class="navbar-menu" id="overview-menu">
                    <a class="center" target="_blank" href="{{nav.path}}./introduction/overview.html" data-i18n="nav.overview._name"></a>

                    <div class="menu-box">
                        <div class="menu-sub-warp">
                            <ul class="icl-nav-menu-box icl-nav-menu-item icl-nav-menu-overivew">
                                <li><a class="icl-nav-menu-title" target="_blank" data-i18n="nav.overview.functions"
                                       href="{{nav.path}}./introduction/overview.html#functions"></a>
                                </li>
                                <li><a class="icl-nav-menu-title" target="_blank" data-i18n="nav.overview.compatibility"
                                       href="{{nav.path}}./introduction/overview.html#compatibility"></a>
                                </li>
                                <li><a class="icl-nav-menu-title" target="_blank" data-i18n="nav.overview.thirdpatry"
                                       href="{{nav.path}}./introduction/overview.html#thirdpatry"></a>
                                </li>
                                <li><a class="icl-nav-menu-title" target="_blank" data-i18n="nav.overview.license"
                                       href="{{nav.path}}./introduction/overview.html#license"></a>
                                </li>
                                <li><a class="icl-nav-menu-title" target="_blank" data-i18n="nav.overview.howToChoose"
                                       href="{{nav.path}}./introduction/overview.html#how-to-choose"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="navbar-menu" id="leaflet-menu">
                    <a class="center" target="_blank" href="{{nav.path}}./introduction/leaflet.html" data-i18n="nav.leaflet._name"></a>

                    <div class="menu-box">
                        <div class="menu-sub-warp">
                            <ul class="icl-nav-menu-box icl-nav-menu-item icl-nav-menu-leaflet">
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.product._name"
                                       target="_blank" href="{{nav.path}}./introduction/leaflet.html"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a target="_blank" data-i18n="nav.product.introduce"
                                               href="{{nav.path}}./introduction/leaflet.html#introduce"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.download"
                                               href="{{nav.path}}./download/Download.html"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.modules"
                                               href="{{nav.path}}./introduction/leaflet.html#modules"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.dependence"
                                               href="{{nav.path}}./introduction/leaflet.html#dependence"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.license"
                                               href="{{nav.path}}./introduction/leaflet.html#license"></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.guide._name"
                                       target="_blank" href="{{nav.path}}./introduction/leafletDevelop.html"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a target="_blank" data-i18n="nav.guide.beginning"
                                               href="{{nav.path}}./introduction/leafletDevelop.html#beginning"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.guide.projection"
                                               href="{{nav.path}}./introduction/leafletDevelop.html#projection"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.guide.ie8"
                                               href="{{nav.path}}./introduction/leafletDevelop.html#ie8"></a></li>
                                        <li><a target="_blank" data-i18n="nav.guide.mapService"
                                               href="{{nav.path}}./introduction/leafletDevelop.html#mapService"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.guide.dataService"
                                               href="{{nav.path}}./introduction/leafletDevelop.html#dataService"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.guide.spatialAnalystService"
                                               href="{{nav.path}}./introduction/leafletDevelop.html#spatialAnalystService"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.guide.networkAnalystService"
                                               href="{{nav.path}}./introduction/leafletDevelop.html#networkAnalyst"></a>
                                        </li>
                                        <li><a target="_blank"
                                               data-i18n="nav.guide.trafficTransferAnalystService"
                                               href="{{nav.path}}./introduction/leafletDevelop.html#trafficTransferAnalystService"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.guide.processingService"
                                               href="{{nav.path}}./introduction/leafletDevelop.html#processingService"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.guide.dataFlow"
                                               href="{{nav.path}}./introduction/leafletDevelop.html#dataFlow"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.guide.addressMatch"
                                               href="{{nav.path}}./introduction/leafletDevelop.html#addressMatch"></a>
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.examples._name"
                                       target="_blank" href="{{nav.path}}../examples/leaflet/examples.html"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a target="_blank" data-i18n="nav.examples.iServer"
                                               href="{{nav.path}}../examples/leaflet/examples.html#iServer"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.iPortal"
                                               href="{{nav.path}}../examples/leaflet/examples.html#iPortal"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.Online"
                                               href="{{nav.path}}../examples/leaflet/examples.html#Online"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.iManager"
                                               href="{{nav.path}}../examples/leaflet/examples.html#iManager"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.Elasticsearch"
                                               href="{{nav.path}}../examples/leaflet/examples.html#Elasticsearch"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.viz"
                                               href="{{nav.path}}../examples/leaflet/examples.html#viz"></a></li>
                                        <li><a target="_blank" data-i18n="nav.examples.plot"
                                               href="{{nav.path}}../examples/leaflet/examples.html#plot"></a></li>
                                        <li><a target="_blank" data-i18n="nav.examples.clientSpatialAnalyst"
                                               href="{{nav.path}}../examples/leaflet/examples.html#clientSpatialAnalyst"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.control"
                                               href="{{nav.path}}../examples/leaflet/examples.html#control"></a></li>
                                        <li><a target="_blank" data-i18n="nav.examples.OGC"
                                               href="{{nav.path}}../examples/leaflet/examples.html#OGC"></a></li>
                                        <li><a target="_blank" data-i18n="nav.examples.mapping"
                                               href="{{nav.path}}../examples/leaflet/examples.html#mapping"></a>
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.api._name"
                                       target="_blank" href="{{nav.path}}./APIs/leaflet.html"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a target="_blank" data-i18n="nav.api.doc"
                                               href="{{nav.path}}./APIs/leaflet.html"></a></li>
                                    </ul>

                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li class="navbar-menu" id="openlayers-menu">
                    <a class="center" target="_blank" href="{{nav.path}}./introduction/openlayers.html" data-i18n="nav.openlayers._name"></a>

                    <div class="menu-box">
                        <div class="menu-sub-warp">
                            <ul class="icl-nav-menu-box icl-nav-menu-item icl-nav-menu-openlayers">
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.product._name"
                                       target="_blank" href="{{nav.path}}./introduction/openlayers.html"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a target="_blank" data-i18n="nav.product.introduce"
                                               href="{{nav.path}}./introduction/openlayers.html#introduce"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.download"
                                               href="{{nav.path}}./download/Download.html"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.modules"
                                               href="{{nav.path}}./introduction/openlayers.html#modules"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.dependence"
                                               href="{{nav.path}}./introduction/openlayers.html#dependence"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.license"
                                               href="{{nav.path}}./introduction/openlayers.html#license"></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.guide._name"
                                       target="_blank" href="{{nav.path}}./introduction/openlayersDevelop.html"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a target="_blank" data-i18n="nav.guide.beginning"
                                               href="{{nav.path}}./introduction/openlayersDevelop.html#beginning"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.guide.mapService"
                                               href="{{nav.path}}./introduction/openlayersDevelop.html#mapService"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.guide.dataService"
                                               href="{{nav.path}}./introduction/openlayersDevelop.html#dataService"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.guide.spatialAnalystService"
                                               href="{{nav.path}}./introduction/openlayersDevelop.html#spatialAnalystService"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.guide.networkAnalystService"
                                               href="{{nav.path}}./introduction/openlayersDevelop.html#networkAnalyst"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.guide.trafficTransferAnalystService"
                                               href="{{nav.path}}./introduction/openlayersDevelop.html#trafficTransferAnalystService"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.guide.processingService"
                                               href="{{nav.path}}./introduction/openlayersDevelop.html#processingService"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.guide.dataFlow"
                                               href="{{nav.path}}./introduction/openlayersDevelop.html#dataFlow"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.guide.addressMatch"
                                               href="{{nav.path}}./introduction/openlayersDevelop.html#addressMatch"></a>
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.examples._name"
                                       target="_blank" href="{{nav.path}}../examples/openlayers/examples.html"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a target="_blank" data-i18n="nav.examples.iServer"
                                               href="{{nav.path}}../examples/openlayers/examples.html#iServer"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.iPortal"
                                               href="{{nav.path}}../examples/openlayers/examples.html#iPortal"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.Online"
                                               href="{{nav.path}}../examples/openlayers/examples.html#Online"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.iManager"
                                               href="{{nav.path}}../examples/openlayers/examples.html#iManager"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.viz"
                                               href="{{nav.path}}../examples/openlayers/examples.html#viz"></a></li>
                                        <li><a target="_blank" data-i18n="nav.examples.plot"
                                               href="{{nav.path}}../examples/openlayers/examples.html#plot"></a></li>
                                        <li><a target="_blank" data-i18n="nav.examples.clientSpatialAnalyst"
                                               href="{{nav.path}}../examples/openlayers/examples.html#clientSpatialAnalyst"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.control"
                                               href="{{nav.path}}../examples/openlayers/examples.html#control"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.OGC"
                                               href="{{nav.path}}../examples/openlayers/examples.html#OGC"></a></li>
                                        <li><a target="_blank" data-i18n="nav.examples.mapping"
                                               href="{{nav.path}}../examples/openlayers/examples.html#mapping"></a>
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.api._name"
                                       target="_blank" href="{{nav.path}}./APIs/openlayers.html"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a target="_blank" data-i18n="nav.api.doc"
                                               href="{{nav.path}}./APIs/openlayers.html"></a></li>
                                    </ul>

                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li class="navbar-menu" id="mapboxgl-menu">
                    <a class="center" target="_blank" href="{{nav.path}}./introduction/mapboxgl.html" data-i18n="nav.mapboxgl._name"></a>

                    <div class="menu-box">
                        <div class="menu-sub-warp">
                            <ul class="icl-nav-menu-box icl-nav-menu-item icl-nav-menu-mapboxgl">
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.product._name"
                                       target="_blank" href="{{nav.path}}./introduction/mapboxgl.html"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a target="_blank" data-i18n="nav.product.introduce"
                                               href="{{nav.path}}./introduction/mapboxgl.html#introduce"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.download"
                                               href="{{nav.path}}./download/Download.html"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.guide"
                                               href="{{nav.path}}./introduction/mapboxgl.html#guide"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.modules"
                                               href="{{nav.path}}./introduction/mapboxgl.html#modules"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.dependence"
                                               href="{{nav.path}}./introduction/mapboxgl.html#dependence"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.license"
                                               href="{{nav.path}}./introduction/mapboxgl.html#license"></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.guide._name"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a class="disabled" data-i18n="nav.soon"></a></li>
                                    </ul>

                                </li>
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.examples._name"
                                       target="_blank" href="{{nav.path}}../examples/mapboxgl/examples.html"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a target="_blank" data-i18n="nav.examples.iServer"
                                               href="{{nav.path}}../examples/mapboxgl/examples.html#iServer"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.viz"
                                               href="{{nav.path}}../examples/mapboxgl/examples.html#viz"></a></li>
                                        <li><a target="_blank" data-i18n="nav.examples.control"
                                               href="{{nav.path}}../examples/mapboxgl/examples.html#control"></a></li>
                                        <li><a target="_blank" data-i18n="nav.examples.GTC"
                                               href="{{nav.path}}../examples/mapboxgl/examples.html#GTC"></a></li>
                                    </ul>

                                </li>
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.api._name"
                                       target="_blank" href="{{nav.path}}./APIs/mapboxgl.html"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a target="_blank" data-i18n="nav.api.doc"
                                               href="{{nav.path}}./APIs/mapboxgl.html"></a></li>
                                    </ul>

                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li class="navbar-menu" id="classic-menu">
                    <a class="center" target="_blank" href="{{nav.path}}./introduction/classic.html" data-i18n="nav.classic._name"></a>

                    <div class="menu-box">
                        <div class="menu-sub-warp">
                            <ul class="icl-nav-menu-box icl-nav-menu-item icl-nav-menu-classic">
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.product._name"
                                       target="_blank" href="{{nav.path}}./introduction/classic.html"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a target="_blank" data-i18n="nav.product.introduce"
                                               href="{{nav.path}}./introduction/classic.html#introduce"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.download"
                                               href="{{nav.path}}./download/Download.html"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.guide"
                                               href="{{nav.path}}./introduction/classic.html#guide"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.modules"
                                               href="{{nav.path}}./introduction/classic.html#modules"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.dependence"
                                               href="{{nav.path}}./introduction/classic.html#dependence"></a></li>
                                        <li><a target="_blank" data-i18n="nav.product.license"
                                               href="{{nav.path}}./introduction/classic.html#license"></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.guide._name"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a class="disabled" data-i18n="nav.soon"></a></li>
                                    </ul>

                                </li>
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.examples._name"
                                       target="_blank" href="{{nav.path}}../examples/classic/examples.html"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a target="_blank" data-i18n="nav.examples.map"
                                               href="{{nav.path}}../examples/classic/examples.html#map"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.overlay"
                                               href="{{nav.path}}../examples/classic/examples.html#overlay"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.control"
                                               href="{{nav.path}}../examples/classic/examples.html#control"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.popup"
                                               href="{{nav.path}}../examples/classic/examples.html#popup"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.query"
                                               href="{{nav.path}}../examples/classic/examples.html#query"></a></li>
                                        <li><a target="_blank" data-i18n="nav.examples.theme"
                                               href="{{nav.path}}../examples/classic/examples.html#theme"></a></li>
                                        <li><a target="_blank" data-i18n="nav.examples.analysis"
                                               href="{{nav.path}}../examples/classic/examples.html#analysis"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.viz"
                                               href="{{nav.path}}../examples/classic/examples.html#viz"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.OGC"
                                               href="{{nav.path}}../examples/classic/examples.html#OGC"></a></li>
                                        <li><a target="_blank" data-i18n="nav.examples.dynamicPlot"
                                               href="{{nav.path}}../examples/classic/examples.html#plot"></a>
                                        </li>
                                        <li><a target="_blank" data-i18n="nav.examples.others"
                                               href="{{nav.path}}../examples/classic/examples.html#others"></a>
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.api._name"
                                       target="_blank" href="{{nav.path}}./APIs/classic.html"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a target="_blank" data-i18n="nav.api.doc"
                                               href="{{nav.path}}./APIs/classic.html"></a></li>
                                    </ul>

                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li class="navbar-menu" id="3dwebgl-menu">
                    <a class="center" target="_blank" href="{{nav.path}}./introduction/3dwebgl.html" data-i18n="nav.3dwebgl._name"></a>

                    <div class="menu-box">
                        <div class="menu-sub-warp">
                            <ul class="icl-nav-menu-box icl-nav-menu-item icl-nav-menu-3dwebgl">
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.product._name"
                                       target="_blank"
                                       href="http://support.supermap.com.cn:8090/iserver/iClient/for3D/webgl/index.html"></a>

                                </li>
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.guide._name"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li>
                                            <a target="_blank" data-i18n="nav.guide.quickStart"
                                               href="{{nav.path}}./introduction/3dwebgl.html#quickStart"></a>
                                        </li>
                                    </ul>

                                </li>
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.examples._name"
                                       target="_blank"
                                       href="http://support.supermap.com.cn:8090/iserver/iClient/for3D/webgl/examples/examples.html"></a>

                                </li>
                                <li>
                                    <a class="icl-nav-menu-title" data-i18n="nav.api._name"
                                       target="_blank"
                                       href="http://support.supermap.com.cn:8090/iserver/iClient/for3D/webgl/Build/Documentation/index.html"></a>

                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
                <li class="navbar-menu" id="more-menu">
                    <a class="text-center" style="min-width:50px;"><span
                            class="glyphicon glyphicon-option-vertical"></span></a>

                    <div class="menu-box">
                        <div class="menu-sub-warp">
                            <ul class="icl-nav-menu-box icl-nav-menu-item icl-nav-menu-more">
                                <li>
                                    <a class="disabled icl-nav-menu-title" data-i18n="nav.more.version._name"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a target="_blank" class="icl-nav-version"
                                               href="/9.0.1/web/index.html">9.0.1</a></li>
                                        <li><a target="_blank" class="icl-nav-version"
                                               href="/9.0.0/web/index.html">9.0.0</a></li>
                                        <li><a target="_blank" class="icl-nav-version"
                                               href="/dev/web/index.html">dev</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="{{nav.path}}./download/Download.html" target="_blank"
                                       class="icl-nav-menu-title" data-i18n="nav.more.get._name"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a href="{{nav.path}}./download/Download.html#stable"
                                               target="_blank">稳定版</a>
                                        </li>
                                        <li><a href="{{nav.path}}./download/Download.html#releases"
                                               target="_blank">Releases</a>
                                        </li>
                                        <li><a href="{{nav.path}}./download/Download.html#source"
                                               target="_blank">源码</a>
                                        </li>
                                        <li><a href="{{nav.path}}./download/Download.html#npm"
                                               target="_blank">npm</a>
                                        </li>
                                        <li><a href="{{nav.path}}./download/Download.html#versions"
                                               target="_blank">历史版本</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a class="disabled icl-nav-menu-title" data-i18n="nav.more.language._name"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a class="lang-option text-center" data-lang="zh-CN">中文</a></li>
                                        <li><a class="lang-option text-center" data-lang="en-US">English</a></li>
                                    </ul>

                                </li>

                                <li><a class="icl-nav-menu-title" data-i18n="nav.more.faq._name" target="_blank"
                                       href="{{nav.path}}./FAQ/FAQ.html"></a>
                                    <ul class="icl-nav-menu-sub">
                                        <li><a data-i18n="nav.more.faq._name" target="_blank"
                                               href="{{nav.path}}./FAQ/FAQ.html"></a></li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>
<script type="text/javascript">
    var notFor = ['iClient Classic', '3D-WebGL', '产品概览'];
    var identification = identification != null ? identification : undefined;
    $(document).ready(function () {
        if (identification && identification.name) {
            var suffixHeader = document.getElementById("suffix-title");
            suffixHeader.innerText = (notFor.indexOf(identification.name) < 0 ? "for " : "") + identification.name;
        }
        $(".icl-nav-menu-title").each(function (key, item) {
            if ($(item).next('ul').length === 0) {
                return;
            }
            $(item).css('border-bottom', '1px solid rgba(100,100,100,.2)');
        });
        $(".icl-header .navbar-menu").on('hover click', function (evt) {
            $(this).siblings().removeClass('active');
            $(this).addClass('active');
        });
        $(".icl-header .navbar-menu").hover(function (evt) {
            $(this).siblings().removeClass('active');
        });
        $(document).bind("click", function (e) {
            var target = $(e.target);
            if (target && target.closest(".icl-header .navbar-menu").length === 0) {
                $(".icl-header .navbar-menu").removeClass('active');
            }
        });
    });
</script>
