/**************************police-select*********************************/
.police-select {
	width: 180px;
	height: 250px;
	position: absolute;
	top: -4px;
	right: -180px;
	background: url(../../../../config/common/rightResource/img/shu-bg.png) no-repeat;
	background-size: 100% 100%;
	z-index: 999;
}
.police-select1 {
	z-index: 999;
	top: 32px;
}
.police-select2 {
	z-index: 999;
	top: 82px;
}

.police-select3 {
	z-index: 999;
	top: 127px;
}

.police-select4 {
	z-index: 999;
	top: 207px;
}

.police-select5 {
	z-index: 999;
	top: 252px;
}

.police-select6 {
	z-index: 999;
	top: 327px;
}
.police-select7 {
    z-index: 999;
    top: 405px;
}
.police-select8 {
    z-index: 99999;
    top: 465px;
}
.police-select8 .dongtaibiaohui {
    width: 100%;
    height: 85%;
    overflow-x: hidden;
}
.police-select8 .dongtaibiaohui table tr td div img{
    display: block;
    margin: 2px;
}

.div-plot {
    height: 22px;
    padding: 10px;
    background-color: #5c90c6;
    margin-top: -3px;
}

.btn-plot {
    width: 100%;
    height: 22px;
    overflow: hidden;
    padding: 1px 6px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    background-color: #fff;
}



.btn-police {
	width: 20px;
	background: url(../../../../config/common/rightResource/img/btn-shu-bg.png) no-repeat;
	background-size: 100% 100% !important;
	position: absolute;
	top: 0px;
	left: -20px;
	line-height: 16px;
	text-align: center;
	padding: 14px 0;
	color: #fff;
	font-size: 12px;
}

.btn-police:hover {
	color: #fff;
}

.zTreeDemoBackground {
	width: 186px;
	height: 254px;
	/*overflow: hidden;*/
	padding: 8px 7px;
	padding-right: 22px;
	box-sizing: border-box;
}
.scrollbarDiv{
	width: 156px;
	height: 205px;
	overflow: auto;
}
.ztree {
	padding-top: 10px;
	margin-top: 5px;
	padding-right: 4px;
/*	overflow: auto;*/
}
.ztree li a{
	padding-right: 10px !important;
}
.ztreeRec li {
	width: 100%;
	height: 28px;
	line-height: 28px;
	overflow: hidden;
}

.ztreeRec li .rec {
	margin-left: 2px;
	float: left;
}

.ztreeRec li span {
	width: 16px;
	height: 16px;
}

.ztreeRec li span img {
	width: 100%;
	height: 100%;
}

.ztreeRec li input {
	margin-top: 3px;
	color: #2892e5 !important;
	background: white;
}

.ztreeRec li span:nth-child(1) {
	margin-left: 10px;
}


/* 修改滚动条样式宽度 开始 */

.mCSB_dragger_bar {
	width: 5px !important;
}

/*
 修改滚动条样式 颜色 */

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: rgba(180, 182, 187, 0.75);
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
	background-color: rgba(180, 182, 187, 0.85);
}

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
	background-color: rgba(180, 182, 187, 0.9);
}

/* 修改滚动条样式 结束*/

/**********8/轨迹控制面板
 * 
 */

.guiji-panel {
	min-width: 520px;
	min-height: 100px;
	position: absolute;
	bottom: 0px;
	left: 593px;
	z-index: 9999;
	margin-left: -300px;
	background: #205891;
}

.guiji-panel-box {
	margin: 6px;
	width: 510px;
	height: 92px;
	box-sizing: border-box;
	background: #f0f5fa;
	overflow: hidden;
}

.left-panel-box,
.right-panel-box {
	height: 100%;
	float: left;
	box-sizing: border-box;
}

.left-panel-box {
	width: 40%;
	border-right: 2px solid #fff;
	box-sizing: border-box;
}

.right-panel-box {
	width: 60%;
	background: url(../../../../config/common/rightResource/img/bg-bk.png) no-repeat left;
}

.time-panel-box {
	font-size: 12px;
	padding-top: 8px;
	padding-left: 20px;
}

.ipt-panel {
	width: 110px;
	height: 20px !important;
	line-height: 20px !important;
}

.time-panel-box li {
	line-height: 30px;
}

.panel-btn {
	width: 60px;
	height: 20px;
	line-height: 20px;
	display: block;
	color: #fff;
	text-align: center;
	float: right;
	margin-right: 18px;
	background: #306ab6;
	cursor: pointer;
}

.right-panel-top  {
	width: 100%;
	font-size: 10px;
	text-align: right;
	padding-right: 20px;
	box-sizing: border-box;
	margin-top: 20px;
	position: relative;
}

.clert-guiji {
	font-size: 14px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	position: absolute;
	z-index: 99999;
	top: -20px;
	right: 10px;
	cursor: pointer;
	/*font-weight: bold;*/
	color: #306ab6;
}

.right-panel-top span:nth-child(3) {
	color: #12aaec;
	font-size: 14px;
}

.btm-col {
	width: 92%;
	margin-left: 4%;
	height: 5px;
	background: #c4d1e3;
}

.time-col {
	width: 60%;
	height: 100%;
	background: #86adf0;
	position: relative;
}

.move-btn {
	width: 14px;
	height: 14px;
	position: absolute;
	right: -5px;
	top: -5px;
	background: #fff;
	border: 1px solid #c5cbd3;
	border-radius: 50%;
	cursor: pointer;
}

.btn-pane-group {
	overflow: hidden;
	margin: 0 auto;
	width: 200px;
	margin-left:2px ;
	
}

.btn-pane-group span {
	width: 26px;
	height: 26px;
	display: block;
	float: left;
	background: #fff;
	margin-top: 10px;
	margin-left: 16px;
	cursor: pointer;
}

.btn-pane-group .kuaitui a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../../../../config/common/rightResource/img/kt.png)no-repeat #f0f5fa;
	background-size: 100% 100%;
}

.btn-pane-group .kuaitui a:hover {
	background: url(../../../../config/common/rightResource/img/kt-xz.png)no-repeat #f0f5fa;
	background-size: 100% 100%;
}

.btn-pane-group .zanting a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../../../../config/common/rightResource/img/zt.png)no-repeat #f0f5fa;
	background-size: 100% 100%;
}

.btn-pane-group .zanting a:hover {
	background: url(../../../../config/common/rightResource/img/zt-xz.png)no-repeat #f0f5fa;
	background-size: 100% 100%;
}

.btn-pane-group .kuaijin a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../../../../config/common/rightResource/img/kj.png)no-repeat #f0f5fa;
	background-size: 100% 100%;
}

.btn-pane-group .kuaijin a:hover {
	background: url(../../../../config/common/rightResource/img/kj-xz.png)no-repeat #f0f5fa;
	background-size: 100% 100%;
}

.btn-pane-group .bofang a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../../../../config/common/rightResource/img/bf1.png)no-repeat #f0f5fa;
	background-size: 100% 100%;
}

.btn-pane-group .bofang a:hover {
	background: url(../../../../config/common/rightResource/img/bf-xz.png)no-repeat #f0f5fa;
	background-size: 100% 100%;
}

.btn-pane-group .tingzhi a {
	display: block;
	width: 100%;
	height: 100%;
	background: url(../../../../config/common/rightResource/img/stop1.png)no-repeat #f0f5fa;
	background-size: 100% 100%;
}

.btn-pane-group .tingzhi a:hover {
	background: url(../../../../config/common/rightResource/img/stop-xz.png)no-repeat #f0f5fa;
	background-size: 100% 100%;
}


/**
 * 飞行按钮样式
 */
.fly-panel {
	display: none;
	height: 70px;
	width: 160px;
	position: absolute;
	/*margin-left: -300px;*/
	background: #526f82;
	left:50%;
	bottom: 10%;
	padding: 1px;
	text-align: center;
}
.flytitle{
	margin-top: -16px;
	color: #205891;
}
.fly-panel-box{
	height: 100%;
	bottom: 10%;
	box-sizing: border-box;
	background-color: rgba(38, 38, 38, 0.75);
	overflow: hidden;
}
.btn-fly-group{
	box-sizing: border-box;
	width: 100%;
	position: absolute;
	bottom: 0px;
    left: 8px;
    top: 6px;
	overflow: hidden;
}
#play {
	height: 40px;
	width:40px;
	padding: 0;
	content: url(../../../../config/common/rightResource/img/bf.png);
}

#pause {
	height: 40px;
	width:40px;
	padding: 0;
	content: url(../../../../config/common/rightResource/img/pause.png);
}

#stop {
	height: 40px;
	width:40px;
	padding: 0;
	content: url(../../../../config/common/rightResource/img/stop.png);
}
/*
#play:hover {
	content: url(../../../../config/common/rightResource/img/bf-xz.png);
}

#pause:hover {
	content: url(../../../../config/common/rightResource/img/zt-xz.png);
}

#stop:hover {
	content: url(../../../../config/common/rightResource/img/stop-xz.png);
}*/
.flyaniu{
	display:block;
    position: relative;
    left:35%;
    transform:translateX(-50%);
}

/************
 * 
 * 
 * 视频监控样式
 * 
 * ***************/
.shipin-box{
	width:500px;
	height:400px;
	position:absolute;
	bottom:51px;
	left:293px;
	background:#e2e9e9;
	z-index: 999;
	display: none;
	top: 66px;
}
.shipin-ctn{
	width: 480px;
	height:250px;
	margin:10px;
}
.left-sp,.ctn-sp,.rit-sp{
	float:left;
	width:100px;
	min-height: 100px;
	box-sizing: border-box;
	margin-left: 10px;
}
.left-sp{
	/*position: absolute;
	top:200px;*/
	margin-left: 45px;
}
.ctn-sp{
	margin-top: 10px;
}
.rit-sp{
    width: 150px;
    font-size: 14px;
    color: rgb(68, 146, 225);
}
.direction{
	width:80px;
	height:80px;
	padding:2px;
	background:url(../../../../config/common/rightResource/img/control.png) no-repeat center;
	background-size: 100% 100%;
	border-radius: 50%;
	overflow: hidden;
	position:relative;
	margin-top:6px;
	margin-left:10px;
}
.direction li{
	width:12px;
	height:12px;
	border-radius: 50%;
	cursor: pointer;
}
.direction li img{
	width:100%;
	height:100%;
}
.direction li:nth-child(1){
	position:absolute;
	top:3px;
	left:38px;
}
.direction li:nth-child(2){
	position:absolute;
	top:32px;
	left:6px;
}
.direction li:nth-child(3){
	position:absolute;
	top:32px;
	right:6px;
}
.direction li:nth-child(4){
	position:absolute;
	top:14px;
	left:14px;
}
.direction li:nth-child(5){
	width:30px;
	height:30px;
	border-radius: 50%;
	box-sizing: border-box;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-15px;
	margin-top:-15px;
}
.direction li:nth-child(5) img{
	width:100%;
	height:100%;
}
.direction li:nth-child(6){
	position:absolute;
	top:50px;
	left:14px;
}
.direction li:nth-child(7){
	position:absolute;
	top:50px;
	right:14px;
}
.direction li:nth-child(8){
	position:absolute;
	top:14px;
	right:14px;
}
.direction li:nth-child(9){
	position:absolute;
	bottom:12px;
	left:37px;
}
.ctn-sp ul{
	margin-left:18px;
	margin-top:8px;
}
.ctn-sp ul li span{
	font-size: 12px;
}
.ctn-sp ul li span:nth-child(1){
	display: inline-block;
	height:14px;
	width:14px;
}
.ctn-sp ul li span:nth-child(2){
	display: inline-block;
	height:14px;
	line-height:14px;
}
.ctn-sp ul li span:nth-child(3){
	display: inline-block;
	height:14px;
	width:14px;
}
.ctn-sp ul li span img{
	width:100%;
	height:100%;
	vertical-align: inherit;
}
.rit-sp div{
	width:30px;
	height:30px;
	float: left;
	margin-left:11px;
	margin-top:12px;
}
.rit-sp div img{
	width:100%;
	height:100%;
}


.jingyuan-zs{
	position:absolute;
	top:-6px;
	left:10px;
	color: #1e7ac7;
}
.ksy{
	float:left;
	font-size: 12px;
}
.jilu-tiao{
	width:100%;
	height:30px;
	line-height: 30px;
	background:#cbcbcb;
	font-size: 12px;
	text-align: right;
	padding-right:20px;
	box-sizing: border-box;
}
.jilu-tiao span{
	color:#5883d5;
	padding:0 2px;
}
/*#popup{
	height:200px !important;
}*/
.xqud p{
	width:100%;
	height:26px;
	line-height: 26px;
	font-size: 12px;
	cursor: pointer;
	background:#f0f6ff;
	border:1px solid #ccc;
}
.xqud p span{
	padding:0 4px;
}
.xqud p span img{
	width:18px;
	height:18px;
	float: left;
	margin-top:4px;
	margin-left:4px;
}
.jige{
	overflow: hidden;
	/*background:#f0f6ff;*/
}
.jige li{
	overflow: hidden;
	padding:4px 0;
}
.jige span{
	float: left;
	font-size: 12px;
}
.jige span:nth-child(1){
	margin-top:2px;
	margin-left:20px;
}
.jige span:nth-child(2){
	width:16px;
	height:16px;
	margin:0 3px;
}
.jige span img{
	width:100%;
	height:100%;
}

.car-box{
	min-height:30px;
	padding:4px 6px;
	box-sizing: border-box;
	position:relative;
}
.car-ss{
	width:100%;
	height:20px;
	line-height: 20px;
	border-radius: 30px;
	border:1px solid #999ea4;
	outline:none;
	font-size: 12px;
}
.car-ss:focus{
	border-radius: 30px;
	border:1px solid #3897cd;
}
button {
	outline:none;
}
.ss-btn{
	width:28px;
	height:20px;
	background: none;
	border:none;
	position:absolute;
	top:7px;
	right:10px;
	cursor: pointer;
}
.ss-btn img{
	width:100%;
	height:100%;
}

.addressSearch{
	position: absolute;
	width: 220px;
	z-index:2000 ;
	top:35px;
	left: 5px;
	font-size: 13px;
	top: 3px;
}
.address-input{
	height: 24px;
	line-height:24px ;
	border-radius: 20px;
    border:1px solid #55BBD4;
    background-color:rgba(18, 57, 81, 0.82);
    color: white;
}
.address-button{
	width: 20px;
    height: 18px;
}
input::-webkit-input-placeholder{
    color:#a1a2b7;
}
